<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484044523003-esc9d3sse9oahimsugi7eujjasjt50p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484044523003-esc9d3sse9oahimsugi7eujjasjt50p8</string>
	<key>API_KEY</key>
	<string>AIzaSyAmPelkM3n66yK-U5ftVssjEiyvqGrMtnI</string>
	<key>GCM_SENDER_ID</key>
	<string>484044523003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.forestry</string>
	<key>PROJECT_ID</key>
	<string>forestry-40</string>
	<key>STORAGE_BUCKET</key>
	<string>forestry-40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484044523003:ios:26c7c1f88afa6acaa4775e</string>
</dict>
</plist>